div {
    background-color: #fdf9fd;
    color: #011a32;
    font: 16px/1.25 'Raleway', sans-serif;
    text-align: center;
    height: 100%;
}

h2 {
    text-shadow: 2px 2px;
  }

body {

    background-color: #fdf9fd;
    height:100%;


}