.App {
  text-align: center;
}

.NavLink {

text-align: center;
border: #61dafb;
border-radius: 4%;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 200;
padding:10%;
color:whitesmoke;
}

.Nav {

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,111,121,1) 36%, rgba(0,212,255,1) 100%); 
  text-align: center;
  border: #61dafb;
  border-radius: 3%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 200;
  padding:2%;
  
  }




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.imagemenu {

  width:30%;
  height:30%;
  border-radius: 1rem;
}

ul.ulhorizontal {
  display:flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
  
}

li.horizontal {
  float: left;

  font-family: Helvetica, Arial, sans-serif;
  border: solid 5% #86BB71;
}